<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script>
        window.setInterval(function () {
            var iframe = document.getElementById("smartCamImage");
            iframe.src = iframe.src;
        }, 500);
    </script>
    <title></title>
</head>
<body>
    <iframe id="smartCamImage" src="GetPicture"></iframe>
</body>
</html>